<!DOCTYPE html>
<html lang="en">
<!-- Boilerplate Html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Logo of the page (Favicon) -->
     <link rel="icon" type="image/png" sizes="16x16" href="/images/yclogo2.jpg"/>

    <!-- Name/Title -->
    <title>Yelp Camp</title>