<!DOCTYPE html>
<html lang="en">
<!-- Boilerplate Html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Logo of the page (Favicon) -->
     <link rel="icon" type="image/png" sizes="16x16" href="/images/yclogo2.jpg"/>

     <!-- Navbar, Footer Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">

    <!-- Name/Title -->
    <title>Yelp Camp</title>