    <nav class="navbar">
        <h3 class="brand"><a href="/">YELP&nbsp;&nbsp;CAMP</a></h3>

        <ul class="links">
            <li><a href="/campgrounds/new">ADD&nbsp;CAMP</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SIGN&nbsp;IN</a></li>
            <li><a href="#">SIGN&nbsp;UP</a></li>
        </ul>
        <span class="expand"><i class="align justify icon small"></i></span>
    </nav>
    <ul class="collapse-links">
        <li><a href="/campgrounds/new">ADD&nbsp;CAMP</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SIGN&nbsp;IN</a></li>
        <li><a href="#">SIGN&nbsp;UP</a></li>
    </ul>

    <script src="/scripts/controller-nav.js"></script>