    <nav class="navbar">
        <h3 class="brand"><a href="/">YELP&nbsp;&nbsp;CAMP</a></h3>

        <ul class="links">
            <li><a href="/campgrounds/new">ADD&nbsp;CAMP</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SIGN&nbsp;IN</a></li>
            <li><a href="#">SIGN&nbsp;UP</a></li>
        </ul>
        <span class="expand">&gt;</span>
    </nav>
    <ul class="collapse-links">
        <li><a href="/campgrounds/new">ADD&nbsp;CAMP</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SIGN&nbsp;IN</a></li>
        <li><a href="#">SIGN&nbsp;UP</a></li>
    </ul>

    <script>
        var menu = document.querySelector(".expand")
        menu.addEventListener("click", () => {
            document.querySelector(".collapse-links").classList.toggle("show");
        });
    </script>