<!DOCTYPE html>
<html lang="en">
<!-- Boilerplate Html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="/images/yclogo2.jpg"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <title>Yelp Camp</title>
</head>
<body style="height: 100%;">
    <div class="cta">
        <h1>CAMPGROUNDS</h1>
        <h4>FOR A BETTER</h4>
        <h1>HOMOSAPIAN</h1>
        <a href="/campgrounds"><button>YelpCamp --&gt;</button></a>
    </div>
</body>
</html>