    <%- include("partials/header") %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
</head>
<body>

    <%- include("partials/navbar") %> 

    <div class="new-cg">
        <h1>ADD CAMPGROUND</h1>

        <form action="/campgrounds" method="POST">
            <label for="CGname"> Campground Name 
                <input type="text" name="name" id="CGname" required>
            </label>

            <label for="imageUrl"> Campground Image
                <input type="text" name="image" id="imageUrl" required>
            </label>

            <label for="rate"> Pricing
                <input type="text" name="cost" id="rate" required>
            </label>

            <label for="stars"> Rating
                <input type="text" name="rating" id="stars" required>
            </label>

            <input type="submit" value="SUBMIT">
        </form>
    </div>

<%- include("partials/footer") %> 