* {
    --primary: rgb(139, 13, 13);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-info {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.side-info div {
    padding: 1rem;
    font-family: "Ubuntu", sans-serif;
}

.sidebar > .side-info:nth-of-type(2) {
    margin: 20px 0;
}

.info-heading {
    background-color: rgba(128, 128, 128, 0.075);
    color: rgb(46, 46, 46);
}

.info-value {
    background-color: #fff;
}

.cg-name {
    margin: 5px;
    align-self: flex-end;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 22px;
    color: var(--primary);
    text-align: right;
}

.main {
    padding: 1rem 1.5rem;
}

.camp {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.camp img {
    width: 100%;
    /* height: 65vh; */

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: "Ubuntu", sans-serif;
    color: #960020;
}

.info h3,
.info p,
.info h4 {
    margin: 0;
}

.name-cost,
.stars {
    display: flex;
    justify-content: space-between;   
}

.name {
    font-size: 26px;
}

.info h3 {
    padding: 10px 0;
}

.info p {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 14px;
    color: #000;
    margin: 5px 0;
}

.comments {
    grid-column: 2 / 3;
    margin: 0.5rem 1.5rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: rgba(128, 128, 128, 0.158);
    color: #700018;
}

.title button {
    padding: 0.5rem 1.5rem;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--primary);

    font-family: "Noto Sans SC", sans-serif;
    transition: transform 200ms ease-in;
}

.title button:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.title button:active {
    opacity: 0.8;
}

form {
    width: 95%;
    max-height: 300px;
    overflow-y: hidden;
    margin: 10px auto;
    font-family: "Noto Sans Sc", sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);

    transition: max-height 300ms linear;
}

textarea {
    width: 98%;
    border-radius: 5px;
}

.rating-submit {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-family: "Noto Sans SC", sans-serif;
    transition: transform 250ms ease-out;
}

input[type="submit"]:hover {
    transform: translateX(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    outline: none;
    border: 2px solid gray;
}

input[type="radio"]:checked {
    background-color: var(--primary);
}

.user-comments {
    width: 95%;
    margin: 0 auto;
}

.comment {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
    font-family: sans-serif;
}

.hide-addComment {
    max-height: 0px;
    border: none;
}

.cmt-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cmt-head h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    display: flex;
    align-items: center;
}

h4 a {
    text-decoration: none;
    color: var(--primary);
}

.cmt-head span {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.cmt-head .img {
    border-radius: 50%;
    padding: 4px 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    color: white;
    background-color: red;
}

.content {
    margin: 0 2rem;
    font-family: "Noto Sans SC", sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

@media screen and (max-width: 800px) {

    .container {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .main {
        padding: 0;
        grid-row: 1 / 2;
    }

    .sidebar {
        grid-row: 2 / 3;
        padding: 0
    }

    .sidebar > .side-info:nth-of-type(2) {
        margin: 0.75rem 0;
    }

    .comments {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin: 0;
    }
}

@media screen and (max-width: 350px) {
    .name {
        font-size: 20px;
    }

    .name + h3 {
        font-size: 13px;
    }
}