<%- include("../partials/header") %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
</head>
<body>

    <%- include("../partials/navbar") %> 

    <div class="new-cg">
        <h1>ADD CAMPGROUND</h1>

        <form action="/campgrounds" method="POST">
            <label for="CGname"> Campground Name <sup>*</sup>
                <input type="text" name="campground[name]" id="CGname" required>
            </label>

            <label for="imageUrl"> Campground Image Url <sup>*</sup>
                <input type="text" name="campground[image]" id="imageUrl" required>
            </label>

            <label for="desc"> Description <sup>*</sup>
                <textarea name="campground[description]" id="desc" required></textarea>
            </label>

            <label for="rate"> Pricing/day <sup>*</sup>
                <input type="text" name="campground[cost]" id="rate" required>
            </label>

            <label for="windowOpen"> Booking Open Month <sup>*</sup>
                <input type="text" name="campground[bookingStart]" id="windowOpen" required>
            </label>

            <label for="windowClose"> Booking Close Month <sup>*</sup>
                <input type="text" name="campground[bookingClose]" id="windowClose" required>
            </label>

            <label for="no"> Contact <sup>*</sup>
                <input type="text" name="campground[contact]" id="no" required>
            </label>

            <label for="location"> Location <sup>*</sup>
                <input type="text" name="campground[location]" id="location" required>
            </label>

            <label for="amenities">Amenities <span style="font-size: 14px; font-family: Ubuntu; font-weight: lighter; color: rgb(90, 90, 90);">(Sepertaed by comma)</span> <sup>*</sup>
                <input type="text" name="campground[amenities]" id="amenities" required>
            </label>

            <input type="submit" value="SUBMIT">
        </form>

        <a href="/campgrounds">Back</a>
    </div>

<%- include("../partials/footer") %>